:root {
    --pice-size: calc(((50vw - 60px) / 7)  );
    --board-color: #000000;

    --player1-color: tomato;
    --player2-color: cornflowerblue;

    --playerBox-hight: 65px;
    --playerBox-with: 140px;
    
}
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto';
}
body {
    
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 25vw 50vw 25vw ;
    grid-template-rows: 7vh 86vh 7vh;
}

section.board {
    height:80vh ;
    width: 50vw;

    grid-column: 2;
    grid-row: 2;

}
table {
    height: calc(var(--pice-size) * 5);
    width: calc(var(--pice-size) * 7); 
}
/*player 1*/
section.player1 {
    height: 80vh ;
    grid-column: 1;
    grid-row: 2;
    
    display: flex;
    align-items: center;
    justify-content: center; 
}
section.player1>div.turn {
    border-color: var(--player1-color);
}
/*player 2*/
section.player2 {
    height: 80vh ;
    grid-column: 3;
    grid-row: 2;
    font-size: 1em;

    display: flex;
    align-items: center;
    justify-content: center;
}
section.player2>div.turn {
    border-color: var(--player2-color);
}

/* global player*/
section>div>p {
    cursor: default;
    font-size: 1em;
    margin-top: -20px;
}
section>div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 10px;
    border: 2px solid;
    border-radius: 3%;
    width: var(--playerBox-with);
    height: var(--playerBox-hight);
}
section>div>h3{
    width: calc( var(--playerBox-with) - 10px);
    height: 23px;
    font-size: 1.2em;
    display: inline-block;
}
section>div>input{
    width: calc( var(--playerBox-with) - 10px);
    font-size: 1.2em;
    border: none;
    font-weight: bold;
}
section>div>input:focus { 
    outline-width: 0;
}
/*board*/
table, th, td {
        border:none;
        background-color: var(--board-color);
}
th {
    width: var(--pice-size);
    height: var(--pice-size);
    background-color: var(--board-color);
}
th:hover {
    cursor: pointer;
}
th>div {
    width: var(--pice-size);
    height: var(--pice-size);
    border-radius: 100%;
    border: var(--board-color) 3px solid;
    background-color: white;
}
th>div.player1 {
    background-color: var(--player1-color);
}
th>div.player2 {
    background-color: var(--player2-color);
}
tr>th>div.selected {
    border: 3px yellow solid;
}